<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <title>Add Product</title>
</head>
<body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/" class="active">Shop</a></li>
          <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>My Products</h1>
      <p>List of all of my products...</p>
      <% if(prods.length > 0) { %>
        <div class="grid">
          <% for(let product of prods) { %>
          <article class="card product-line">
            <header class="card__header">
              <h1 class="product__title"><%= product.title %></h1>
            </header>
            <div class="card__image">
              <img src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2015%2F06%2F521811839-copy.jpg" alt="A Book">
            </div>
            <div class="card__content">
              <h2 class="product__price">$19.99</h2>
              <p class="product__description">A very interesting book.</p>
            </div>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </article>
          <% } %>
        </div>
        <% } else { %>
          <h1>No Products Found</h1>
        <% } %>
</body>
</html>