extends layouts/main-layout.pug

block content
  main 
    if prods.length > 0
      .grid
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            .card__image
              img(src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.kofcsupplies.com%2Fmedia%2Fecom%2Fprodsm%2F910-09.jpg", alt="A Book")
            .card__content 
              h2.product__price $19.99
              p.product__description A very interesting book about many interesting things
            .card__actions 
              button.btn Add to Cart
    else
      h1 No Products
