<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pageTitle %></title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
          <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
            <li class="main-header__item"><a href="/user" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Users</a></li>
          </ul>
        </nav>
      </header>

    <% if(users.length > 0) { %>
      <div class="grid">
        <% for(let user of users) { %>
        <article class="card product-line">
          <ul class="card__header">
            <li class="product__title"><%= user.title %></li>
          </ul>
        <% } %>
        </div>
      <% } %>
  
</body>
</html>