body {
margin: 0;
padding: 0;
font-family: sans-serif;
}

main {
padding: 1rem;
}

.main-header {
width: 100%;
height: 3.5em;
background-color: rgb(86, 219, 60);
padding: 0 1.5em;
}

.main-header__nav {
height: 100%;
display: flex;
align-items: center;
}

.main-header__item-list {
margin: 0;
padding: 0;
list-style: none;
display: flex;
}

.main-header__item {
margin: 0 1.4rem;
padding: 0;
}

.main-header__item a {
text-decoration: none;
color: black;
}

.main-header__item a:hover,
.main-header__item a.active,
.main-header__item a.active {
color: rgb(76, 57, 185);
}


.product-form {
width: 20rem;
max-width: 90%;
margin: auto;
}

.form-control {
margin: 1rem 0;
}

.form-control label,
.form-control input {
display: block;
}

.form-control input {
border: 1px solid gold;
font: inherit;
border-radius: 2px;
}

button {
font: inherit;
border: 1px solid purple;
color: purple;
background: white;
border-radius: 3px;
cursor: pointer;
}

button:hover,
button:active {
background-color: purple;
color: white;
}